  <div class="row-fluid" style="margin-top:-20px;">
    <div class="span12" style="min-height:400px; overflow:hidden">
			<%= image_tag("front.jpg") %>
       <div style="position:absolute; top:100px; z-index:2; right:10%;">
          <h1 style="color:white">Hemdenpilot</h1>
          <p style="color:white">endlich ist Hemden kaufen einfach</p>
       </div>
    </div>
  </div>


    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span4" style="position:absolute; top:350px; z-index:2; right:10%;">
          <h3 style="color:white;">Erster Inhalt</h3>
          <p style="color:white; margin-bottom:15px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><%= link_to "Hemden finden", hemden_path, class: "btn" %></li>
        </div>
      </div>

    </div> <!-- /container -->

    <div class="container-fluid">
      <div class="row-fluid	">
        <div class="span4" style="text-align:justify">
          <h2>Hemdenschnitte</h2>
          <p>Ein Hemdenschnitt bezeichnet die Form des Hemdes. Je nach K&ouml;rperform passt ein anderer Hemdenschnitt am Besten. Der Schnitt bezeichnet lediglich eine Form des Hemdes.
					</br>Nat&uuml;rlich unterscheiden sich die Hemden einer Schnittform durch die Gr&ouml;&szlig;en. Im Allgemeinen wird zwischen drei verschiedenen Schnitten unterschieden:
					<ul>
						<li>Comfort</li>
						<li>Normal</li>
						<li>Slim</li>
					</ul>
					</p>
          <a class="btn" href="#" style="align=center">Mehr dazu &raquo;</a>
        </div>
        <div class="span4">
          <h2>Dritter Inhalt</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">Mehr dazu &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Vierter Inhalt</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">Mehr dazu &raquo;</a></p>
        </div>
      </div>

    </div> <!-- /container -->
	<hr>
