<div class="container" style="margin-top:50px;">
	<div class="row">
		<div class="span3"></div>
		<div class="span6">
			<h1>Impressum</h2>
		</div>
		<div class="span3"></div>
	</div>
	<div class="row">
		<div class="span3"></div>
		<div class="span4">
				<p>Es handelt sich um ein Einzelunternehmen.</p>
				<h2>USt.-IdNr.:</h2>
				<p>DE 815106237</p>
				<h2>Adresse</h2>
				<p>poken-business.de<br/>
				Oderstrasse 3<br/>
				24539 Neum&uuml;nster<br/>
				Deutschland</p>
				<p>Telefon: +49 3212 5050505<br/>
				Telefax: +49 3212 5050505</p>
				<p>E-Mail: <a href="mailto:kontakt@poken-business.de">kontakt@poken-business.de</a></p>
				<h2>Inhaber</h2>
				<p>Kai F&ouml;rst</p>
				<h2>Kontoverbindung</h2>
				<p>Sparkasse S&uuml;dholstein<br/>
				BLZ 230 510 30<br/>
				Kontonummer 113118160</p>
		</div>
		<div class="span2">
			<%= image_tag "affiliate.jpg" %>
		</div>
		<div class="span3"></div>
	</div>
</div>
